@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

/* Start Variables */

:root {
  --primary-color: #f59e0b;
  --secondary-color: #fffbeb;
  --accent-color: #fb923c;
  --text-color: #292524;
  --background-color: #ffffff;
  --transparent-color: rgb(15 116 143 / 70%);
  --padding: 100px;
}

/* End Variables */
body {
  font-family: "Work Sans", sans-serif;
  height: 5000px;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

/* Start SideBar */
aside {
  position: fixed;
  height: 100%;
  background-color: var(--secondary-color);
  border-right: 2px solid var(--accent-color);
  transition: 0.3s;
  width: 70px;
  overflow: hidden;
  z-index: 120000;
}
aside:hover {
  width: 200px;
}

aside h2 {
  color: var(--primary-color);
  text-align: center;
}

aside nav ul a {
  background-color: var(--secondary-color);
  text-decoration: none;
  transition: 0.3s;
  display: table;
  width: 300px;

  border-bottom: 1px solid #eee;
}
aside nav ul a:hover {
  color: var(--accent-color);
  background-color: #f1f1f165;
}
aside nav ul a i {
  position: relative;
  width: 75px;
  height: 14px;
}
aside nav ul a span {
  position: relative;
  margin-left: -5px;
}
/* End SideBar */
main {
  flex-basis: calc(100% - 70px);
  margin-left: 70px;
}
/* Start section mouse effect */

section.mouse-effect {
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
}
section.mouse-effect {
}
section.mouse-effect ul li i {
  color: white;
  cursor: pointer;
  font-size: 25px;
}
section.mouse-effect ul li i.active {
  color: var(--primary-color);
}
section.mouse-effect ul li i:hover {
  color: var(--accent-color);
}
section.mouse-effect i.selected {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  color: white;
  animation: bubleToTop 5s;
}
/* End section mouse effect */

/* Start section Type Effect */
section.type-effect {
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
}
section.type-effect h2 {
  text-transform: uppercase;
  font-style: italic;
  font-family: "Permanent Marker", cursive;
}
/* End section Type Effect */

/* Start Calendar Section */
section.calendar {
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: slateblue;
  font-family: cursive;
}
section.calendar .cal-box {
  min-width: 300px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.308);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  section.calendar .cal-box {
    min-width: 200px;
  }
}
section.calendar .cal-box .month-head {
  background-color: tomato;
}

section.calendar .cal-box .cal-body .animate {
  animation: changeCol 0.5s ease;
}

section.calendar .cal-box .cal-body .date-before,
section.calendar .cal-box .cal-body .date-after {
  width: 20px;
  height: 20px;
  top: 50%;
  border: 7px solid;
  border-color: transparent transparent tomato tomato;
  transform-origin: center;
  transform: rotate(45deg) translateY(-20px);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
section.calendar .cal-box .cal-body .date-before:hover {
  border-color: transparent transparent rgb(199, 75, 54) rgb(199, 75, 54);
}
section.calendar .cal-box .cal-body .date-after:hover {
  border-color: rgb(199, 75, 54) rgb(199, 75, 54) transparent transparent;
}
section.calendar .cal-box .cal-body .date-after {
  border-color: tomato tomato transparent transparent;
  right: 30px;
}
section.calendar .cal-box .appear {
  animation: appear 0.5s ease;
}
/* End Calendar Section */

@keyframes bubleToTop {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 5000%);
    opacity: 0;
  }
}
@keyframes changeCol {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    transform: translateY(-150px);
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    transform: translateY(200px);
    opacity: 1;
  }
  90% {
    transform: translateY(-20px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    transform: translateX(200px);
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    transform: translateX(-200px);
    opacity: 1;
  }
  90% {
    transform: translateX(30px);
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
